<!DOCTYPE html>
<html  >
    
<head>
  <!-- Site made with Mobirise Website Builder v5.7.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.7.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo5.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">


  
  
</head>
<body style="background-color: #232323">
    <script src="./assets/js/renderer.js"></script>
   <script>
    
   </script>

  <section data-bs-version="5.1" class="form7 cid-tpG08dMFWG" id="form7-k" style="background-color: #232323">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Login</strong></h3>
            
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="indra://oauth2" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="uLsep1y/hGJk/EHFPTJ1gi8Mk2fXrttBK28xS2y7w4VhYx+umkP1ZagOp7tTD7RcWTqwdx5UwcIS1Jw5slTMGBEGpBz/auvJsFWUbf+6tcKDmrz5X/9+ysVAsGhZbQaD">
                    <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                        Faça login para continuar</p>
                   
                    <div class="dragArea row">
                        
                        <div class="col-auto mbr-section-btn align-center"><button type="submit" id="loginButton" class="btn btn-black display-4">Logar com Discord</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


  
</body>
<script src="./index.js"></script>


</html>